import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner h2{
    position: absolute;
    left: 0;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 30vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    mix-blend-mode: screen;
}


